################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InvoiceService/packages
/InvoiceService/RestfulInvoiceService/bin
/InvoiceService/RestfulInvoiceService/obj/Debug
/InvoiceService/RestfulInvoiceService.Tests/bin/Debug
/InvoiceService/RestfulInvoiceService.Tests/obj/Debug
/InvoiceService/RestfulInvoiceService/RestfulInvoiceService.csproj.user
/InvoiceService/.vs
